body {
    background-color: #ffefd5;
}
h1, h2, h3, h4, h5, p {
    line-height: 1.5rem;
}
.navbar {
    background-color: #3A98B9;
}


.icons_navbar, .icons_footer {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

/* zoom in!!! */
.gallery_col {
    max-height: 27.5rem;
    overflow: hidden;
}
.gallery_col .gallery_item {
    display: block;
    transition: 0.75s;
    
}
.gallery_col:hover .gallery_item {
    transform: scale(1.3);
    
}
.gallery_item {
    height: 27.5rem;
    width: 100%;
}


